.font {
  font-family: BrandonText-Regular, Helvetica, Arial, sans-serif; }

.fontColor {
  color: #A8A8A8; }

.fontBasic {
  color: #A8A8A8;
  line-height: 30px; }

.dateClass {
  color: #FC85AE;
  font-weight: 600;
  font-size: xx-large; }

.journeyClass {
  color: white;
  font-weight: 900;
  font-size: 100px; }

.taglineClass {
  color: white;
  font-weight: normal;
  font-size: larger; }

.btn, .registernowButton {
  color: white;
  background-color: #FC85AE;
  border: 2px solid #FC85AE;
  border-radius: 50px; }
  .btn:hover, .registernowButton:hover, .btn:focus, .registernowButton:focus, .btn.focus, .focus.registernowButton {
    background-color: #fb538d;
    cursor: pointer; }

.registernowButton {
  margin: 20px;
  font-weight: bold;
  padding: 16px;
  padding-left: 30px;
  padding-right: 30px; }

.navbar {
  z-index: 10;
  padding-top: 40px;
  overflow: hidden;
  background-color: #303952;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  transition: all .3s ease-in-out; }

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 30px;
  font-size: x-large; }

.navbarListItem {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

.navbarListItem:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #524889; }

.font {
  font-family: BrandonText-Regular, Helvetica, Arial, sans-serif; }

.noMargin {
  margin: 0px; }

.mt50 {
  margin-top: 50px; }

.mt60 {
  margin-top: -60px; }

.mt106 {
  margin-top: -106px; }

.ht615 {
  width: 100%;
  height: 615px; }

.pl30 {
  padding-left: 30px; }

.pl50 {
  padding-left: 50px; }

.pt50 {
  padding-top: 50px; }

.pt35 {
  padding-top: 35px; }

.pr60 {
  padding-right: 60px; }

.pd40 {
  padding: 54px; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.logo {
  float: left;
  height: 48px;
  margin-left: 30px; }

.logo:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #524889; }

.navbarMargin {
  background-color: white;
  padding-top: 10px;
  margin-bottom: 30px; }

.mainTitle {
  position: relative;
  text-align: center;
  padding-top: 15%; }

.sideBlock {
  display: inline-block;
  width: 50%;
  margin-top: 50px; }

.bigHeading {
  width: 42%;
  margin-left: 195px;
  font-weight: 900;
  font-size: 30px;
  margin-top: 60px; }

.paragraph {
  width: 42%;
  margin-left: 195px;
  line-height: 25px;
  margin-top: 52px;
  text-align: justify;
  color: #A8A8A8; }

.flexContainer {
  display: -webkit-flex;
  display: flex; }

.extraPadding {
  width: 75%;
  padding: 70px; }

.headingSmall {
  color: #FC85AE;
  font-size: x-large;
  font-weight: 900; }

.greyAndJustify {
  text-align: justify;
  color: #A8A8A8;
  line-height: 20px; }

.decimalList {
  list-style-type: decimal-leading-zero;
  color: #FC85AE; }

li:before {
  list-style-type: decimal-leading-zero;
  padding-right: 20px;
  color: #FC85AE; }

.playButton {
  text-align: center;
  padding-top: 92px; }

img.ht110 {
  height: 110px;
  vertical-align: middle; }

.sideblockContent {
  width: 67%;
  padding: 90px; }

.greyBox {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #FAFAFA;
  box-shadow: 10px 10px 20px 20px #FAFAFA; }

.extendedImage {
  width: 100%;
  height: 509px;
  margin-top: 25px; }

.oneThird {
  display: inline-block;
  width: 33%; }

.fullImageWidth {
  width: 100%; }

.mg77 {
  margin: 77px;
  text-align: justify; }

.imageht438 {
  width: 100%;
  height: 438px; }

.fullCrewButton {
  margin-left: 43%;
  position: absolute;
  margin-top: -171px; }

.schedule {
  text-align: center;
  padding: 16px;
  width: 30%; }

.timings {
  text-align: center;
  padding: 16px;
  width: 70%; }

.heading {
  color: #303952;
  margin: 40px;
  font-weight: 900;
  font-size: 30px;
  margin-top: 60px; }

.content {
  margin: 17px;
  font-weight: 900;
  color: #383F59; }

.alignLeft {
  text-align: left; }

.p50 {
  padding: 50px;
  padding-top: 96px; }

.greyBox1 {
  margin: 20px;
  background-color: #FAFAFA; }

.headingLarge {
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 30px; }

.noListDecoration {
  list-style-type: none; }

.FAQImage {
  width: 100%;
  margin-left: 20px;
  height: 1055px; }

.sponsorSize {
  width: 122px;
  height: 27px; }

.headingGigantic {
  font-size: 59px;
  width: 300px;
  text-align: center;
  font-weight: 900;
  color: #004276; }

.sponsorFooter {
  margin-top: -21px;
  text-align: center; }

.fontBasicViolet {
  line-height: 30px;
  color: #004276; }

.logoCenter {
  margin-left: 515px;
  margin-top: 114px;
  height: 250px;
  width: 250px; }

.newsletterButton {
  width: 489px;
  display: block;
  margin: auto;
  margin-top: 83px;
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 29px;
  /* padding-right: 30px; */
  background: none;
  border-radius: 48px;
  color: #8a96a0;
  text-align: left; }

.newsletterButton:hover {
  cursor: pointer;
  background-color: #8a96a0;
  background-color: #004276; }

.fontFooter {
  color: #A8A8A8;
  text-align: center;
  font-size: 13px;
  padding-top: 120px;
  padding-bottom: 43px; }

.ml119 {
  margin-left: 119px; }

.violet {
  color: #004276; }

.black {
  color: #040404; }

.blue {
  color: #004276; }

.blueBackground {
  background-color: #564A91;
  border-radius: 5px; }

.violetBackground {
  background-color: #303952; }
