//Violet color to be used throughout the webpage
.violet {
  color: $color-violet;
}

//Black color
.black {
  color: $color-black;
}

//Blue color
.blue {
  color: $color-blue;
}

//For blue background
.blueBackground {
  background-color: #564A91;
  border-radius: $border-radius-middle;
}

//For violet background
.violetBackground {
  background-color: $color-violet-variant;
}

